<!DOCTYPE html>
<html lang="en">

<head>
	<title>React App</title>
</head>

<body class="goto-here">
	<div id="root"><%- reactApp %></div>
	<script src="/index.js" charset="utf-8"></script>
	<script src="/vendor.js" charset="utf-8"></script>

	<!-- lib -->
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/jquery-migrate-3.0.1.min.js"></script>
	<script src="/assets/js/popper.min.js"></script>
	<script src="/assets/js/bootstrap.min.js"></script>
	<script src="/assets/js/jquery.easing.1.3.js"></script>
	<script src="/assets/js/jquery.waypoints.min.js"></script>
	<script src="/assets/js/jquery.stellar.min.js"></script>
	<script src="/assets/js/owl.carousel.min.js"></script>
	<script src="/assets/js/jquery.magnific-popup.min.js"></script>
	<script src="/assets/js/aos.js"></script>
	<script src="/assets/js/jquery.animateNumber.min.js"></script>
	<script src="/assets/js/bootstrap-datepicker.js"></script>
	<script src="/assets/js/scrollax.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false">
	</script>
	<script src="/assets/js/google-map.js"></script>
	<script src="/assets/js/main.js"></script>
	<script src="/assets/js/range.js"></script>
</body>

</html>